Repository Alessandroinfo/angular-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

CSS Debug logic
  README.md
  src/app/auth/components/login/login.component.spec.ts
  src/app/auth/services/credentials.service.spec.ts
  src/app/core/api/api.service.spec.ts
  src/app/core/generic-facility/generic-facility.service.spec.ts
  src/app/core/global-data/global-data.service.spec.ts
  src/app/core/loader-interceptor/loader-interceptor.service.spec.ts
  src/app/shared/components/app-shell/app-shell.component.spec.ts
  src/app/shell/header/header.component.spec.ts
  src/app/shell/shell.component.spec.ts
  src/app/shell/shell.service.spec.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Start implementation with CORS managment
  src/app/about/components/about.component.spec.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Start implementation with CORS managment
  old-readme.md
  package-lock.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Start implementation with CORS managment
  README.md
  docs/firebase.md
  old-readme.md
Due: none

Start implementation with CORS managment
  README.md
  src/app/app.component.ts
  src/global.js
  src/main.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Start implementation with CORS managment
  src/app/app.component.ts
  src/app/app.module.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Start implementation with CORS managment
  src/app/app.module.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Adding IDEA settings Corrected gitignore
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/git_toolbox_prj.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  src/app/app.module.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Adding IDEA settings Corrected gitignore Edit README
  README.md
  docs/firebase.md
  docs/scripts.md
  docs/until-destroy.md
  old-readme.md
  src/app/app.component.ts
  src/app/app.module.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Adding IDEA settings Corrected gitignore Edit README
  docs/skip-link.md
Due: none

Adding IDEA settings Corrected gitignore Edit README
  docs/git-flow.md
Due: none

Adding IDEA settings Corrected gitignore Edit README
  old-readme.md
Due: none

Adding IDEA settings Corrected gitignore Edit README
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Dependencies fix GitHub Badge
  package-lock.json
  package.json
  src/app/app.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Dependencies fix GitHub Badge
  src/app/app.component.ts
  src/app/auth/components/login/login.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Dependencies fix GitHub Badge
  src/app/auth/components/login/login.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Dependencies fix GitHub Badge
  README.md
  cypress.config.js
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  package-lock.json
  src/app/home/components/home.component.ts
  src/assets/design-system/themes/_material_theme.scss
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Fix versions
  package-lock.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Fix versions
  docs/git-flow.md
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Fix versions
  .npmrc
  .nvmrc
  README.md
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/shared/components/loader/loader.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Fix versions
  README.md
  package-lock.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Fix versions
  src/index.html
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  LICENSE.txt
  docs/git-flow.md
Due: none

Material fix
  src/app/about/about.module.ts
  src/app/core/http/error-handler.interceptor.ts
  src/assets/design-system/themes/_material_theme.scss
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  package-lock.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  pnpm-lock.yaml
Due: none

Material fix
  .gitignore
  README.md
  docs/firebase.md
  package.json
  src/index.html
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/app/app.component.ts
  src/app/auth/services/credentials.service.mock.ts
  src/app/core/http/api-prefix.interceptor.ts
  src/app/core/http/error-handler.interceptor.ts
  src/app/core/logger/logger.service.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  .idea/inspectionProfiles/Project_Default.xml
  package.json
  pnpm-lock.yaml
  src/index.html
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  package-lock.json
  src/app/core/http/api-prefix.interceptor.ts
  src/app/core/http/error-handler.interceptor.ts
  src/app/core/loader-interceptor/loader-interceptor.service.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  package-lock.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/git_toolbox_prj.xml
  .idea/jsLibraryMappings.xml
  .idea/watcherTasks.xml
Due: none

Material fix
  src/app/core/http/error-handler/error-handler.interceptor.ts
  src/app/core/loader-interceptor/loader-interceptor.service.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  README.md
  src/assets/design-system/themes/_material_theme.scss
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  docs/git-flow.md
Due: none

Saving edits
  docs/git-flow.md
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check: any of: *.{js,jsx,json,ts,tsx,html,scss}
