Repository Alessandroinfo/angular-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Edit lint-staged ignore in package.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Edit lint-staged ignore in package.json
  src/index.html
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Edit lint-staged ignore in package.json
  src/main.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Edit lint-staged ignore in package.json
  src/main.ts
  tsconfig.app.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Edit lint-staged ignore in package.json
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Prepared for angular update
  package-lock.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Prepared for angular update
  .angular/cache/14.0.2/angular-webpack/18da7e7d9707eb459ecf38e6c64e98df3e3d09f1/1.pack
  .angular/cache/14.0.2/angular-webpack/18da7e7d9707eb459ecf38e6c64e98df3e3d09f1/2.pack
  .angular/cache/14.0.2/angular-webpack/18da7e7d9707eb459ecf38e6c64e98df3e3d09f1/index.pack.old
  .browserslistrc
  .gitignore
  angular.json
  package-lock.json
  package.json
  src/app/shared/components/app-shell/app-shell.component.scss
  src/app/shared/components/app-shell/app-shell.component.ts
  src/assets/design-system/themes/_material_theme.scss
  src/main.server.ts
  tsconfig.json
  tsconfig.server.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Prepared for angular update
  package-lock.json
  package.json
  src/app/shared/components/app-shell/app-shell.component.scss
  src/app/shared/components/app-shell/app-shell.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Prepared for angular update
  angular.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Prepared for angular update
  src/app/core/api/api.service.ts
  src/app/shared/components/app-shell/app-shell.component.scss
  src/app/shared/components/app-shell/app-shell.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Corrected app-shell generation Updated to angular 15 Loader if not app-shell
  .gitignore
  README.md
  angular.json
  firebase.json
  package.json
  src/index.html
  src/main.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Corrected app-shell generation Updated to angular 15 Loader if not app-shell
  index-html-transform.js
  src/app/app.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Corrected app-shell generation Updated to angular 15 Loader if not app-shell
  README.md
Due: none

README.md adjustment
  README.md
  angular.json
  old-readme.md
  src/assets/imgs/README/lighthouse-100.png
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

README.md adjustment
  README.md
Due: none

README.md adjustment
  src/assets/imgs/logo.svg
Due: none

README.md adjustment
  .gitconfig
  README.md
Due: none

README.md adjustment
  README.md
  scripts/enforce-branch-name.sh
Due: none

README.md adjustment
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check: any of: *.{js,jsx,json,ts,tsx,html,scss}
