Repository Alessandroinfo/angular-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Saving edits
  docs/git-flow.md
Due: none

Material fix
  docs/git-flow.md
Due: none

README fixes
  README.md
  src/app/auth/components/login/login.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

README fixes
  .idea/inspectionProfiles/Project_Default.xml
  package-lock.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Cypress fixes
  .eslintignore
  .eslintrc.cjs
  .prettierignore
  README.md
  cypress.config.js
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/storage.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  src/index.html
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Run generated assets
  README.md
  package-lock.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Cypress fix
  .eslintrc.js
  cypress.config.ts
  cypress/cypress.json
  cypress/package.json
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/index.html
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Bump version
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Bump version
  package-lock.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Updating
  package-lock.json
  src/index.html
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Added config for cypress
  cypress.config.ts
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check: any of: *.{js,jsx,json,ts,tsx,html,scss}
