Repository Alessandroinfo/angular-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,jsx,json,ts,tsx,html,scss}": "prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check"
}

Merge branch 'test' into feature/shell_authentication
  .firebase/hosting.ZGlzdA.cache
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/http/error-handler.interceptor.ts
  src/app/core/logger/logger.service.ts
  src/app/home/home.component.ts
  src/app/shell/header/header.component.html
  src/app/shell/header/header.component.ts
  src/global.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Merge branch 'test' into feature/shell_authentication
  .firebase/hosting.ZGlzdA.cache
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
  src/app/auth/services/credentials.service.mock.ts
  src/app/core/http/error-handler.interceptor.ts
  src/app/home/home.component.ts
  src/app/shared/components/loader/loader.component.ts
  src/app/shared/models/loading-app.ts
  src/app/shell/header/header.component.ts
  tailwind.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Merge branch 'test' into feature/shell_authentication
  .firebase/hosting.ZGlzdA.cache
  src/app/auth/components/login/login.component.spec.ts
  src/app/auth/components/login/login.component.ts
  src/app/core/logger/logger.service.ts
  src/app/home/home.component.ts
  src/app/shared/directives/focus/focus.directive.spec.ts
  src/app/shell/header/header.component.ts
  src/app/shell/shell.component.spec.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Merge branch 'test' into feature/shell_authentication
  src/app/auth/components/login/login.component.spec.ts
  src/app/shared/directives/focus/focus.directive.spec.ts
  src/app/shell/shell.component.spec.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .gitattributes
  Web.gitattributes
  scripts/build-check.sh
Due: none

Update angular version
  angular.json
  package-lock.json
  package.json
  src/environments/environment.ts
  src/polyfills.ts
  src/test.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  package-lock.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .husky/pre-commit
  package-lock.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .gitignore
  .husky/pre-commit
  package-lock.json
  package.json
  src/polyfills.ts
  src/test.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  package.json
  webpack.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  package-lock.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .depcheckrc
  package-lock.json
  package.json
  src/app/auth/components/login/login.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  angular.json
  index-html-transform.ts
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  angular.json
  package-lock.json
  package.json
  src/app/home/home.component.ts
  src/hmr.ts
  src/main.server.ts
  src/main.ts
  tailwind.config.js
  tsconfig.json
  webpack.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/auth/components/login/login.component.ts
  src/app/core/generic-facility/generic-facility.service.ts
  src/app/home/home.component.ts
  src/app/shared/components/skip-link/skip-link.component.ts
  src/app/shared/directives/box-line/box-line.directive.ts
  src/app/shared/modules/material.module.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  package-lock.json
  package.json
  src/app/home/home.component.ts
  tailwind.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .husky/pre-commit
  src/app/app.component.ts
  src/app/auth/components/login/login.component.ts
  src/app/home/home.component.ts
  src/app/shared/components/skip-link/skip-link.component.ts
  src/app/shared/modules/material.module.ts
  src/app/shared/pipes/file-size.ts
  src/main.server.ts
  src/main.ts
  src/test.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .husky/pre-push
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/auth/components/login/login.component.ts
  src/app/home/home.component.ts
  src/app/shared/components/skip-link/skip-link.component.ts
  src/app/shared/modules/material.module.ts
  src/main.ts
  src/test.ts
  tailwind.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .husky/commit-msg
  .husky/pre-commit
  scripts/enforce-branch-name.sh
  scripts/enforce-commit-message.sh
  scripts/renormalize-line-endings.sh
  scripts/scripts-permissions.sh
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/home/home.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  package-lock.json
  package.json
  src/app/home/home.component.ts
  webpack.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .prettierrc
  angular.json
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  index-html-transform.ts
  package-lock.json
  package.json
  src/app/auth/components/login/login.component.ts
  src/app/home/home.component.ts
  src/app/shared/components/app-shell/app-shell.component.ts
  src/app/shared/components/loader/loader.component.ts
  src/app/shared/components/skip-link/skip-link.component.ts
  src/app/shell/header/header.component.ts
  src/index.html
  webpack.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  index-html-transform.ts
  package-lock.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .firebase/hosting.ZGlzdA.cache
  .gitignore
  README.md
  angular.json
  cypress/tsconfig.json
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  e2e/tsconfig.json
  index-html-transform.js
  index-html-transform.ts
  package-lock.json
  package.json
  src/app/app.component.ts
  src/index.html
  tsconfig.app.json
  webpack.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  src/app/app.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .angular/cache/14.0.2/angular-webpack/18da7e7d9707eb459ecf38e6c64e98df3e3d09f1/1.pack
  .angular/cache/14.0.2/angular-webpack/18da7e7d9707eb459ecf38e6c64e98df3e3d09f1/2.pack
  .angular/cache/14.0.2/angular-webpack/18da7e7d9707eb459ecf38e6c64e98df3e3d09f1/index.pack.old
  src/app/app.component.spec.ts
  src/app/auth/components/login/login.component.spec.ts
  src/app/auth/services/authentication.guard.spec.ts
  src/app/auth/services/authentication.service.spec.ts
  src/app/auth/services/credentials.service.spec.ts
  src/app/core/api/api.service.spec.ts
  src/app/core/generic-facility/generic-facility.service.spec.ts
  src/app/core/global-data/global-data.service.spec.ts
  src/app/core/http/error-handler.interceptor.spec.ts
  src/app/core/loader-interceptor/loader-interceptor.service.spec.ts
  src/app/core/logger/logger.service.spec.ts
  src/app/home/home.component.spec.ts
  src/app/shared/components/app-shell/app-shell.component.spec.ts
  src/app/shared/components/loader/loader.component.spec.ts
  src/app/shared/components/skip-link/skip-link.component.spec.ts
  src/app/shared/components/version/version.component.spec.ts
  src/app/shared/directives/focus/focus.directive.spec.ts
  src/app/shared/directives/prevent-default/prevent-default.directive.spec.ts
  src/app/shared/directives/stop-immediate-propagation/stop-immediate-propagation.directive.spec.ts
  src/app/shell/shell.component.spec.ts
  src/app/shell/shell.service.spec.ts
  tsconfig.json
  tsconfig.spec.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  .angular/cache/14.0.2/angular-webpack/18da7e7d9707eb459ecf38e6c64e98df3e3d09f1/1.pack
  .angular/cache/14.0.2/angular-webpack/18da7e7d9707eb459ecf38e6c64e98df3e3d09f1/2.pack
  .angular/cache/14.0.2/angular-webpack/18da7e7d9707eb459ecf38e6c64e98df3e3d09f1/index.pack.old
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/auth/components/login/login.component.spec.ts
  src/app/auth/services/authentication.guard.spec.ts
  src/app/auth/services/authentication.service.spec.ts
  src/app/auth/services/credentials.service.spec.ts
  src/app/core/api/api.service.spec.ts
  src/app/core/generic-facility/generic-facility.service.spec.ts
  src/app/core/global-data/global-data.service.spec.ts
  src/app/core/http/error-handler.interceptor.spec.ts
  src/app/core/loader-interceptor/loader-interceptor.service.spec.ts
  src/app/core/logger/logger.service.spec.ts
  src/app/home/home.component.spec.ts
  src/app/shared/components/app-shell/app-shell.component.spec.ts
  src/app/shared/components/loader/loader.component.spec.ts
  src/app/shared/components/skip-link/skip-link.component.spec.ts
  src/app/shared/components/version/version.component.spec.ts
  src/app/shared/directives/focus/focus.directive.spec.ts
  src/app/shared/directives/prevent-default/prevent-default.directive.spec.ts
  src/app/shared/directives/stop-immediate-propagation/stop-immediate-propagation.directive.spec.ts
  src/app/shell/shell.component.spec.ts
  src/app/shell/shell.service.spec.ts
  tsconfig.json
  tsconfig.spec.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Update angular version
  angular.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Fix app-shell
  .firebase/hosting.ZGlzdA.cache
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Fix app-shell
  src/app/shared/components/app-shell/app-shell.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Fix app-shell
  .husky/pre-commit
  src/app/shared/components/app-shell/app-shell.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Fix app-shell
  src/app/core/logger/logger.service.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Edit lint-staged ignore in package.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check
