Repository Alessandroinfo/angular-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

README.md adjustment
  README.md
Due: none

README.md adjustment
  old-readme.md
Due: none

README.md adjustment
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  .eslintrc.js
  package-lock.json
  package.json
  src/assets/design-system/themes/_material_theme.scss
  src/assets/design-system/vendors/_material.scss
  src/index.html
  tsconfig.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  .eslintrc.js
  package-lock.json
  package.json
  src/app/about/about-routing.module.ts
  src/app/about/about.component.ts
  src/app/about/about.module.ts
  src/app/app.module.ts
  src/app/app.server.module.ts
  src/app/auth/auth-routing.module.ts
  src/app/auth/auth.module.ts
  src/app/auth/components/login/login.component.ts
  src/app/auth/services/authentication.guard.ts
  src/app/auth/services/authentication.service.ts
  src/app/auth/services/credentials.service.ts
  src/app/core/core.module.ts
  src/app/core/generic-facility/generic-facility.service.ts
  src/app/core/global-data/global-data.service.ts
  src/app/core/http/api-prefix.interceptor.ts
  src/app/core/http/error-handler.interceptor.ts
  src/app/core/loader-interceptor/loader-interceptor.service.ts
  src/app/home/home-routing.module.ts
  src/app/home/home.component.ts
  src/app/home/home.module.ts
  src/app/shared/components/loader/loader.component.ts
  src/app/shared/components/skip-link/skip-link.component.ts
  src/app/shared/components/version/version.component.ts
  src/app/shared/directives/box-line/box-line.directive.ts
  src/app/shared/directives/directives.module.ts
  src/app/shared/directives/focus/focus.directive.ts
  src/app/shared/directives/outline/outline.directive.ts
  src/app/shared/directives/prevent-default/prevent-default.directive.ts
  src/app/shared/directives/stop-immediate-propagation/stop-immediate-propagation.directive.ts
  src/app/shared/directives/stop-propagation/stop-propagation.directive.ts
  src/app/shared/modules/material.module.ts
  src/app/shared/pipes/pipes.module.ts
  src/app/shared/shared.module.ts
  src/app/shell/header/header.component.ts
  src/app/shell/shell.component.ts
  src/app/shell/shell.module.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  .husky/pre-push
Due: none

Material fix
  .husky/pre-push
  src/app/home/home.component.ts
  src/assets/design-system/themes/_material_theme.scss
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  src/assets/design-system/themes/_material_theme.scss
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  README.md
  src/app/app.component.ts
  src/app/home/home.component.ts
  src/app/shared/components/loader/loader.component.ts
  src/assets/design-system/abstract/_palettes.scss
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  package-lock.json
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  src/assets/design-system/abstract/_palettes.scss
  tailwind.config.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  src/assets/imgs/logo.svg
Due: none

Material fix
  .eslintrc.js
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  .prettierrc
  .prettierrc.js
  README.md
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  .prettierrc
  .prettierrc.js
  src/app/auth/components/login/login.component.ts
  src/app/home/home.component.ts
  src/app/shared/components/loader/loader.component.ts
  src/app/shared/components/skip-link/skip-link.component.scss
  src/app/shared/components/version/version.component.ts
  src/app/shell/header/header.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Material fix
  README.md
Due: none

README.md writing
  README.md
  docs/git-flow.md
Due: none

README.md writing
  README.md
Due: none

README.md writing
  README.md
  tree.txt
Due: none

README.md writing
  docs/git-flow.md
Due: none

README.md writing
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

README.md writing
  README.md
  docs/husky.md
  docs/scripts.md
  scripts/enforce-commit-message.sh
Due: none

README.md writing
  README.md
  package.json
Due: prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

README.md writing
  tree.txt
Due: none

README.md writing
  README.md
  docs/angular.md
Due: none

README.md writing
  README.md
  docs/skip-link.md
  src/app/about/about-routing.module.ts
  src/app/about/about.component.html
  src/app/about/about.module.ts
  src/app/about/components/about.component.html
  src/app/about/components/about.component.scss
  src/app/about/components/about.component.spec.ts
  src/app/about/components/about.component.ts
  src/app/app.component.spec.ts
  src/app/home/components/home.component.scss
  src/app/home/components/home.component.spec.ts
  src/app/home/components/home.component.ts
  src/app/home/home-routing.module.ts
  src/app/home/home.component.ts
  src/app/home/home.module.ts
  src/app/shared/directives/css-debug/css-debug.directive.spec.ts
  src/app/shared/directives/css-debug/css-debug.directive.ts
  src/app/shared/directives/directives.module.ts
  src/app/shared/directives/focus/focus.directive.spec.ts
  src/app/shared/directives/outline/outline.directive.ts
  src/app/shared/directives/prevent-default/prevent-default.directive.spec.ts
  src/app/shared/directives/stop-immediate-propagation/stop-immediate-propagation.directive.spec.ts
  src/app/shared/directives/stop-propagation/stop-propagation.directive.spec.ts
  src/app/shared/modules/material.module.ts
  src/app/shell/header/header.component.ts
  src/app/shell/shell.component.ts
  src/assets/design-system/base/_debug.scss
  src/assets/design-system/main.scss
  src/styles.scss
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

README.md writing
  src/app/about/components/about.component.html
  src/app/home/components/home.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

README.md writing
  README.md
  src/app/shared/modules/material.module.ts
  src/app/shell/shell.component.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

CSS Debug logic
  src/app/core/tokens/css-debug.ts
  src/app/core/tokens/index.ts
  src/app/home/components/home.component.spec.ts
  src/app/shared/components/loader/loader.component.spec.ts
  src/app/shared/components/skip-link/skip-link.component.spec.ts
  src/app/shared/components/version/version.component.spec.ts
Due: eslint --cache --fix, prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write './{src,e2e,scripts}/**/*.{js,jsx,json,ts,tsx,html,scss}' --ignore-path .prettierignore --no-error-on-unmatched-pattern --check: any of: *.{js,jsx,json,ts,tsx,html,scss}
